$primary-color : #C5E7E2;
$secondary-color: #B5DFCA;

* {
  border-radius: 0 !important;
}

body {
  background-color: white;
}

.btn {
  background-color: $secondary-color;
}

.btn:hover {
  opacity: 0.8;
}

.colorSplash {
  color: $primary-color;
  -webkit-text-stroke: 1px $secondary-color;
}

.page-header {
  margin-bottom: 40px;
}

#doctorInfo {
  padding-bottom: 40px;
}

#noShow {
  font-size: 35px;
}

#pageTitle {
  padding-top: 10%;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  text-align: center;
}

#userSubmit {
  position: relative;
  margin: auto;
  width: 180px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}
